@page "/generate-player"
@using BasketballSimulator.Core.Models
@using BasketballSimulator.Core.Models.Player
@using BasketballSimulator.UI.Components

<h1>Generate New Player</h1>

<PlayerForm CurrentPlayer="NewPlayer"
            OnPlayerGenerated="HandleNewPlayer"
            OnPlayerDeveloped="HandleNewPlayer" />


@if (NewPlayer != null)
{
    <PlayerCard PlayerModel="NewPlayer" />

    <!-- scroll wrapper -->
    <div style="max-height:500px; overflow-y: auto; margin-top:1rem;">
        <PlayerHistoryTable History="NewPlayer.RatingHistory" />
    </div>
}

@code {
    private Player NewPlayer;

    private void HandleNewPlayer(Player p)
    {
        NewPlayer = p;
    }
}
